<app-navbar></app-navbar>
<h3 class="bienvenido">Bienvenido(a) elegir la materia a la que se desea tomar asistencia:</h3>
    <div class="informacion">
        <div class="materias">
            <div class="icono">
                <i class="fa-solid fa-book fa-2xl"></i>
            </div>
            <div class="datos">
                <h4><a routerLink="/estudiantes" class="nombre">Gestion de base de datos</a></h4>
                <p><b>Paralelo:</b> A</p>
                <p><b>Horario:</b> Lun 8:00-10:00 Mie 14:00-17:00 </p>
                <p><b>Local:</b> MANTA - Edif. MCT-001 - Auditorium (Facultad Informática)</p>
                <p><b>Carrera:</b> Tecnologia de la informacion</p>
            </div>
        </div>
        <div class="materias">
            <div class="icono">
                <i class="fa-solid fa-book fa-2xl"></i>
            </div>
            <div class="datos">
                <h4><a routerLink="/estudiantes" class="nombre">Gestion de base de datos</a></h4>
                <p><b>Paralelo:</b> B</p>
                <p><b>Horario:</b> Jue 8:00-10:00 Vie 14:00-17:00 </p>
                <p><b>Local:</b> MANTA - Edif. MCT-001 - Auditorium (Facultad Informática)</p>
                <p><b>Carrera:</b> Tecnologia de la informacion</p>
            </div>
        </div>
        <div class="materias">
            <div class="icono">
                <i class="fa-solid fa-book fa-2xl"></i>
            </div>
            <div class="datos">
                <h4><a routerLink="/estudiantes" class="nombre">Base de datos</a></h4>
                <p><b>Paralelo:</b> A</p>
                <p><b>Horario:</b> Lun 15:00-18:00 Mie 10:00-12:00 </p>
                <p><b>Local:</b> MANTA - EDIF. AULA 208 (Facultad Ciencias Informáticas)</p>
                <p><b>Carrera:</b> Tecnologia de la informacion</p>
            </div>
        </div>
    </div>