<body>
<!--Contenedor de registro-->
    <div class="Registrarse">
        <!--formulario para registrarse-->
        <form (submit)="onSubmit()">
          <h1 class="titulo"> Registro</h1>
          <div class="datos">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
              <label for="email">Email</label>
           </div>
           <div class="datos">
             <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
             <label for="password">Contraseña</label>
           </div>
           <button type="submit" class="boton">Registrarse</button>
         </form>
         <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesion</a></p>
    </div>   
</body>